@model WebUsingDapper.Models.RegisterModel

@{
    ViewData["Title"] = "Details";
}

<h4>User Details</h4>

<div class="container">

    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div class="mt-2 d-flex justify-content-between">
    <a asp-action="Edit" asp-route-id="@Model.UserID" class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back</a>
</div>
